.layout {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        .field {
            margin-top: 25px;
        }
        .error {
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            color: red;
        }
        .actions {
            display: flex;
            justify-content: space-between;
            .link {
                text-decoration: none;
            }
        }
    }
}
